body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 60%;
}

.canzone {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

.info {
    display: none;
    margin-top: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.audio-box {
    background: #DCF8C6;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

audio {
    width: 100%;
}

iframe {
    margin-top: 10px;
}

